# Pandas основы.

In [1]:
import pandas as pd

## Задание №1.

In [3]:
# Путь к файлам данных.
path_1 = '../ml-latest-small/'

# Загружаем данные по рейтинга и фильмам.
ratings = pd.read_csv(path_1 + 'ratings.csv')
movies = pd.read_csv(path_1 + 'movies.csv')

# Определяем фильм который чаще всего оценивали на 5.0 и получаем его ID.
movie_rating = ratings[['movieId', 'rating']]
index_of_most_rated_move = movie_rating[ movie_rating.rating == 5 ].value_counts().index[0][0]
# Определяем название фильма по его ID.
movies[ movies.movieId == index_of_most_rated_move ]

     movieId                             title       genres
277      318  Shawshank Redemption, The (1994)  Crime|Drama

## Задание №2.

In [4]:
path_2 = '../10._Основы_pandas/'
power = pd.read_csv(path_2 + 'power.csv')

# Оставляем только страны Прибалтики
filter_1 = power[ (power['country'] == 'Lithuania') | (power['country'] == 'Latvia') | (power['country'] == 'Estonia')]
# Рассматриваем период с 2005 по 2010 годы включительно и quantity больше нуля. Суммировать 0 нет смысла.
filter_2 = filter_1[ (filter_1['year'] >= 2005) & (filter_1['year'] <= 2010) & (filter_1['quantity'] > 0.0) ]
# Отбираем категории 4, 12 и 21.
filter_3 = filter_2[ (filter_2['category'] == 4) | (filter_2['category'] == 12) | (filter_2['category'] == 21) ]
filter_3['quantity'].sum()

240580.0

## Задание №3.

In [2]:
# Температура в Москве(Шереметьево) с 1 января по 27 мая 2021.

url = 'http://pogoda-service.ru/climate_table.php?country=RS&station=275155&day_begin=01&month_begin=01&day_end=27&month_end=05'
climat = pd.read_html(url, encoding='utf-8')[1]
# climat['Максимальная температура']
climat.head(5)

,Дата,Максимальная температура,Минимальная температура,Средняя температура,Атмосферное давление,Скорость ветра,Осадки,Эффективная температура
0,01 января,-4.5,-9.4,-6.8,NaN,4,0,-11.6
1,02 января,-4.5,-8.6,-6.5,NaN,4,0,-11.1
2,03 января,-4.6,-9.2,-6.7,NaN,4,0,-11.6
3,04 января,-4.9,-9.9,-7.1,NaN,4,0,-11.8
4,05 января,-4.7,-9.7,-6.9,NaN,4,0,-11.8